<h1>Formularios</h1>
<form (ngSubmit)="onRegistrar()" #myform="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" required name="nombre" id="name" [(ngModel)]="registrar.nombre">
    <p>Mensaje de Error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" required name="email" id="email" [(ngModel)]="registrar.email">
    <p>Mensaje de Error</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" required name="password" id="password" [(ngModel)]="registrar.password">
    <p>Mensaje de Error</p>
  </div>
  <button [disabled]="myform.invalid" type="submit">Registrar</button>
</form>





<h1>Class y Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="persona.nombre">
<p class="message-error" [class.invalid]="nameInput2.invalid">Campo Requerido</p>

<label>Nombre</label>
<br><input type="text" required #nameInput3="ngModel" [(ngModel)]="persona.nombre">
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto</p>
<hr>

<h1>*ngFor</h1>
<button (click)="newName()" >Agregar</button>
<input type="text"  required [(ngModel)]="nuevo">
<p class="message-error" [class.active]="nameInput.invalid">Campo Requerido</p>
<ul>
  <li *ngIf="nombres.length === 0"> No hay nombres</li>
  <li *ngFor="let name of nombres; index as i">
    {{i}} {{name}} <button (click)="delete(i)">Delete</button>
  </li>
</ul>

<hr>




<h1>*ngIf</h1>

<input type="text" required [(ngModel)]="persona.nombre" /><br>
<p *ngIf="persona.nombre === 'Nicolas'">Soy Nicolas</p>
<p *ngIf="persona.nombre === 'David' && persona.age===18; else elseBlock ">Soy David </p>
<ng-template #elseBlock>
  <p>Soy otro {{persona.nombre}} </p>
</ng-template>

<h1>ng Model</h1>
<p>Nombre {{persona.nombre}}</p>
<br>
<input type="text" required #nameInput="ngModel" [(ngModel)]="persona.nombre" /><br>
<p>valid {{nameInput.valid}} </p>

<p>Edad {{persona.age}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel"
[(ngModel)]="persona.age" />
<p>valid {{ageInput.valid}} </p>

<hr>
<h1>Event Binding</h1>
<button [disabled]="btn">enviar</button><br>
<button (click)="toggleButton()">Activar</button>
<p>Edad {{ persona.age}}</p>
<button (click)="ageUp()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores maxime laborum assumenda perspiciatis rem nemo eius dicta, libero provident deserunt beatae necessitatibus, possimus tempore excepturi itaque sint atque corporis aliquam!, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores maxime laborum assumenda perspiciatis rem nemo eius dicta, libero provident deserunt beatae necessitatibus, possimus tempore excepturi itaque sint atque corporis aliquam! </p>
</div>
<p>Nombre {{persona.nombre}}</p>

<br>
<input type="text" [value]="persona.nombre" (keyup)="changeName($event)" /><br>


<hr>


<h1>Propiedades</h1>
<button [disabled]="btn">enviar</button><br>
<input type="text" [value]="persona.nombre"/><br>
<img width="500" [src]="persona.avatar">
<hr>
<h1></h1>
<h1>Hola Mundo</h1>
<h2>{{'Hello'.repeat(3)}}</h2>
<p>3+3 = {{3+3}}</p>
<h3>Hola soy {{name}} y tengo {{ edad }}</h3>
<img src={{img}} alt="image">


<hr>
<h1>Productos</h1>
<div class="products--grid">
  <div *ngFor="let producto of productos">
    <img  [src]="producto.image">
    <p>{{producto.name}}</p>
    <h2>{{producto.price}}</h2>
  </div>
</div>


<hr>
<div [ngSwitch]="persona.nombre">
  <p *ngSwitchCase="'azul'">
      El color el Azul
  </p>
  <p *ngSwitchCase="'verde'">
      El color el Verde
  </p>
  <p *ngSwitchCase="'rojo'">
      El color el Rojo
  </p>
  <p *ngSwitchDefault>
      No hay ningún color
  </p>
</div>

<h1>NgClass & Ng style</h1>
<input type="text" required #name="ngModel" [(ngModel)]="persona.nombre" />
<hr class="line-error" [ngClass]="{
  'valid': name.valid,
  'invalid': name.invalid
}"/>

<p class="message-error" [class.invalid]="name">
  Campo Requerido
</p>
